<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>animate-circleDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3881C3341CBB9AAD00DA5F6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3881C34D1CBB9AAE00DA5F6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3881C3581CBB9AAE00DA5F6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
